<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />

    <!-- Internal JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="../scripts/password-script.js"></script>

    <title>Create Password</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="container">
      <h1 class="title">Password Generator</h1>
      <h3 class="password-display" id="passwordDisplay">
        [ Your Generated Password ]
      </h3>
      <form id="passwordGeneratorForm" class="form">
        <div class="website-info">
          <div>
            <label for="url">Website URL </label>
            <input
              type="text"
              placeholder="http://"
              name="url"
              id="url"
              required
            />
          </div>
          <div class="website-category">
            <label for="categories">Category</label>
            <select name="categories" id="categories" class="categories">
              <option value="social">Social Media</option>
              <option value="work">Work</option>
              <option value="entertainment">Entertainment</option>
            </select>
          </div>
        </div>
        <div class="password-length-requirements">
          <div class="password-characters">
            <label for="passwordLengthNumber" class="character-amount-number"
              >Number of Characters</label
            >
            <div class="character-amount-container">
              <input
                type="range"
                min="1"
                max="50"
                value="10"
                id="passwordLengthRange"
              />
              <input
                class="number-input"
                type="number"
                min="1"
                max="50"
                value="10"
                id="passwordLengthNumber"
              />
            </div>
          </div>
          <div class="password-requirements">
            <label for="includeUppercase">
              <input type="checkbox" id="includeUppercase" />
              Include Uppercase
            </label>

            <label for="includeNumbers">
              <input type="checkbox" id="includeNumbers" />
              Include Numbers
            </label>

            <label for="includeSymbols">
              <input type="checkbox" id="includeSymbols" />
              Include Symbols
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary">Create</button>
      </form>
    </div>
  </body>
</html>
