<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />

    <!-- Internal JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="../scripts/password-script.js"></script>

    <title>Create Password</title>
  </head>

  <body id="password-create">
    <%- include('partials/_header') %>
    <div class="container">
      <h1 class="title">Password Generator</h1>

      <h3 id="passwordDisplay">[ Your Generated Password ]</h3>
      <form
        id="passwordGeneratorForm"
        class="form"
        action="/passwords/create"
        method="POST"
      >
        <div class="website-info">
          <div class="website-url">
            <label for="url">Website URL </label>
            <input
              type="text"
              placeholder="http://"
              name="website_url"
              id="website_url"
              required
            />
          </div>
          <div class="website-username">
            <label for="username">Email or Username for Website</label>
            <input
              type="text"
              name="website_username"
              id="website_username"
              required
            />
          </div>
          <div class="website-category">
            <label for="categories">Category</label>
            <select name="category_id" id="category_id" class="categories">
              <option value="social">Social Media</option>
              <option value="work">Work</option>
              <option value="entertainment">Entertainment</option>
            </select>
          </div>
        </div>
        <div class="password-length-requirements">
          <div class="password-characters">
            <label for="passwordLengthNumber" class="character-amount-number"
              >Number of Characters</label
            >
            <div class="character-amount-container">
              <input
                type="range"
                min="1"
                max="50"
                value="10"
                id="passwordLengthRange"
              />
              <input
                class="number-input"
                type="number"
                min="1"
                max="50"
                value="10"
                id="passwordLengthNumber"
              />
            </div>
          </div>
          <div class="password-requirements">
            <label for="includeUppercase">
              <input type="checkbox" id="includeUppercase" />
              Include Uppercase (weak)
            </label>

            <label for="includeNumbers">
              <input type="checkbox" id="includeNumbers" />
              Include Numbers (medium)
            </label>

            <label for="includeSymbols">
              <input type="checkbox" id="includeSymbols" />
              Include Symbols (strong)
            </label>
            <input type="hidden" name="password" value="" id="password" />
          </div>
          <button type="button" class="btn btn-outline-secondary" id="generate">
            Generate
          </button>
        </div>
        <button type="submit" class="btn btn-secondary" id="submit">
          Add to My Passwords
        </button>
      </form>
    </div>
    <footer>
      <hr />
      <p>2021 Lighthouse Labs Midterm Project</p>
    </footer>
  </body>
</html>
