<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="../styles/main.scss" type="text/css">

    <title>Create Password</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="container">
      <h1 class="title">Password Generator</h1>
      <div>
      <form>
        <label for="url">Website URL </label>
        <input type="text" placeholder="http://" name="url" id="url" required />
        <label for="categories">Category</label>
        <select name="categories" id="categories">
          <option value="social">Social Media</option>
          <option value="work">Work</option>
          <option value="entertainment">Entertainment</option>
        </select>
      </div>
      <div>
        <label for="requirement">Select requirements:</label>
        <div>
        <input
          type="checkbox"
          id="uppercase"
          name="uppercase"
          value="uppercase"
        />
        uppercase
        <input type="checkbox" id="numbers" name="numbers" value="numbers" />
        numbers
        <input
          type="checkbox"
          id="specialChar"
          name="specialChar"
          value="specialChar"
        />
        special characters
        </div>
      </div>
      <div>
        <label for="passwordLength">Password length</label>
        <input
          type="range"
          id="passwordLengthRange"
          min="1"
          max="50"
          value="10"
        />
        <input
          type="number"
          id="passwordLengthNumber"
          min="1"
          max="50"
          value="10"
        />
        <output name="slider" class="slider" for="passwordLength"></output>
      </div>
        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
